.collapse.navbar-collapse.navbar-ex1-collapse
  %ul.nav.navbar-nav.side-nav
    %li{:class => params[:controller] == "products" ? "active" : ''}
      %a{:href => "/products"}
        %i.fa.fa-fw.fa-dashboard
        Product
    %li{:class => params[:controller] == "categories" ? "active" : ''}
      %a{:href => "/categories"}
        %i.fa.fa-fw.fa-bar-chart-o
        Category
    / %li
    /   %a{:href => "tables.html"}
    /     %i.fa.fa-fw.fa-table
    /     Tables
    / %li
    /   %a{:href => "forms.html"}
    /     %i.fa.fa-fw.fa-edit
    /     Forms
    / %li
    /   %a{:href => "bootstrap-elements.html"}
    /     %i.fa.fa-fw.fa-desktop
    /     Bootstrap Elements
    / %li
    /   %a{:href => "bootstrap-grid.html"}
    /     %i.fa.fa-fw.fa-wrench
    /     Bootstrap Grid
    / %li
    /   %a{"data-target" => "#demo", "data-toggle" => "collapse", :href => "javascript:;"}
    /     %i.fa.fa-fw.fa-arrows-v
    /     Dropdown
    /     %i.fa.fa-fw.fa-caret-down
    /   %ul#demo.collapse
    /     %li
    /       %a{:href => "#"} Dropdown Item
    /     %li
    /       %a{:href => "#"} Dropdown Item
    / %li
    /   %a{:href => "blank-page.html"}
    /     %i.fa.fa-fw.fa-file
    /     Blank Page
    / %li
    /   %a{:href => "index-rtl.html"}
    /     %i.fa.fa-fw.fa-dashboard
    /     RTL Dashboard
/ /.navbar-collapse